<a href="https://colab.research.google.com/github/rohitshekar/titanic/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
trian=pd.read_csv('titanic.csv')
test=pd.read_csv('titanictest.csv')

In [ ]:
trian.head(1)

   PassengerId  Survived  Pclass  ...  Fare Cabin  Embarked
0            1         0       3  ...  7.25   NaN         S

[1 rows x 12 columns]

In [ ]:
trian=trian.drop('PassengerId',axis=1)
test=test.drop('PassengerId',axis=1)

In [ ]:
trian.head(1)

   Survived  Pclass                     Name  ...  Fare  Cabin  Embarked
0         0       3  Braund, Mr. Owen Harris  ...  7.25    NaN         S

[1 rows x 11 columns]

In [ ]:
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [ ]:
trian['Age']=trian['Age'].fillna(trian['Age'].median())
test['Age']=test['Age'].fillna(test['Age'].median())

In [ ]:
trian['Cabin']=np.where(trian['Cabin'].isnull(),0,1)

In [ ]:
test['Cabin']=np.where(test['Cabin'].isnull(),0,1)

In [ ]:
trian['Embarked']=trian['Embarked'].fillna("S")

In [ ]:
test['Embarked']=test['Embarked'].fillna("S")

In [ ]:
trian=trian.drop('Name',axis=1)
test=test.drop('Name',axis=1)

In [ ]:
trian.head(1)

   Survived  Pclass   Sex   Age  SibSp  Parch     Ticket  Fare  Cabin Embarked
0         0       3  male  22.0      1      0  A/5 21171  7.25      0        S

In [ ]:
gender={'male':0,'female':1}
trian['Sex']=trian['Sex'].map(gender)
test['Sex']=test['Sex'].map(gender)

In [ ]:
trcounts=dict(trian['Ticket'].value_counts().sort_values(ascending=False))
trian['Ticket']=trian['Ticket'].map(trcounts)

In [ ]:
test['Ticket']=test['Ticket'].map(trcounts)

In [ ]:
x=trian.drop('Survived',axis=1)
y=trian['Survived']

In [ ]:
test['Fare']=test['Fare'].fillna(test['Fare'].median())

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[8])],remainder='passthrough')
x=ct.fit_transform(x)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[8])],remainder='passthrough')
test=ct.fit_transform(test)

In [ ]:
from imblearn.over_sampling import SMOTE
os=SMOTE()
x,y=os.fit_resample(x,y)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
test=sc.fit_transform(test)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
cl=GradientBoostingClassifier(n_estimators=500)
cl.fit(x,y)
from sklearn.model_selection import cross_val_score
scores=cross_val_score(X=x,y=y,estimator=cl,cv=10)
print(scores)
print(scores.mean())

[0.75454545 0.82727273 0.85454545 0.75454545 0.80909091 0.80909091
 0.91818182 0.9        0.91743119 0.89908257]
0.8443786488740617

In [ ]:
from sklearn.ensemble import RandomForestClassifier
cl=RandomForestClassifier(n_estimators=250)
cl.fit(x,y)
from sklearn.model_selection import cross_val_score
scores=cross_val_score(X=x,y=y,estimator=cl,cv=10)
print(scores)
print(scores.mean())

[0.75454545 0.76363636 0.85454545 0.70909091 0.77272727 0.84545455
 0.93636364 0.9        0.91743119 0.9266055 ]
0.8380400333611343

In [ ]:
from xgboost import XGBClassifier
cl=XGBClassifier()
cl.fit(x,y)
from sklearn.model_selection import cross_val_score
scores=cross_val_score(X=x,y=y,estimator=cl,cv=10)
print(scores)
print(scores.mean())

[0.80909091 0.8        0.86363636 0.74545455 0.75454545 0.84545455
 0.90909091 0.91818182 0.93577982 0.89908257]
0.8480316930775647